<div class="nav-bigbox">
    <div class="nav">
        <div class="nav-btn"></div>
        <div class="nav-list">
            <ul>
                <li><a href="/views/index.html">首页</a></li>
                <li><a href="/views/Products.html">我们的产品</a></li>
                <li><a href="/views/index.html">我们的伙伴</a></li>
                <li><a href="/views/about.html">关于SG</a></li>
                <li><a href="/views/index.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="language">
       <ul>
            <li class="act"><a onclick="jump('zh-cn')">简体中文</a></li>
            <li><a onclick="jump('ge-un')">繁體中文</a></li>
            <li><a onclick="jump('en-us')">English</a></li>
       </ul>
    </div>
</div>