<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/utils.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css"></link>
        <link rel="stylesheet" href="/css/normalize.css"></link>
        <link rel="stylesheet" href="/css/common.css"></link>
        <link rel="stylesheet" href="/css/Products.css"></link>
        <title>Uoo</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
    </head>
    <body>
        <header id="header">
            <div class="nav-bigbox">
                <div class="nav">
                    <div class="nav-btn"></div>
                    <div class="nav-list">
                        <ul>
                            <li><a href="/views/index.html">首页</a></li>
                            <li><a href="/views/Products.html">我们的产品</a></li>
                            <li><a href="/views/index.html?point=3">我们的伙伴</a></li>
                            <li><a href="/views/about.html">关于SG</a></li>
                            <li><a href="/views/index.html?point=5">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="language">
                   <ul>
                        <li class="act"><a onclick="jump('zh-cn')">简体中文</a></li>
                        <li><a onclick="jump('ge-un')">繁體中文</a></li>
                        <li><a onclick="jump('en-us')">English</a></li>
                   </ul>
                </div>
            </div>
    
            <div id="pcBanner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url(http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20190909/284bbdd325356f336e2536ab1f90db7c.jpg) no-repeat center; background-size: cover;"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=41" target="_blank"></a></div>
                    <div class="swiper-slide" style="background: url(http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200117/7f9b0ce6e4fc4603bc4456449245a7ac.png) no-repeat center; background-size: cover;"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=75" target="_blank"></a></div>
                    <div class="swiper-slide" style="background: url(http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200116/bcf59ad859c5a85a270609b07e8d4cc9.png) no-repeat center; background-size: cover;"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=100" target="_blank"></a></div>
                </div>
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>
    
            <div id="mobileBanner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=41"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191015/d12ef6301b09028bb3d6f38c6026ed94.jpg" class="img-responsive"></a></div>
                    <div class="swiper-slide"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=75"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200117/576bfc319f9120a80d30aea30ab3c695.png" class="img-responsive"></a></div>
                    <div class="swiper-slide"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=100"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200116/03dad6575c4c17de3ed384be8efdf9e1.png" class="img-responsive"></a></div>
                </div>
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>
    
            <div class="bannerInfo">
                <div class="">
                    <p class="text-center bannerInfoImg"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191015/d697b0ff95b6394c83e8973a4cd0927f.png" class="img-responsive"></p>
                    <h3>毛毛虫幼儿园</h3>
                    <p>适合年龄：4+</p>
                    <p class="banner-detail">《毛毛虫幼儿园》是一款知名的儿童早教应用。应用基于国际公认的早教启蒙大纲设计，受到全球教育专家和家长们的追捧。应用包含5大板块，从形状颜色，到ABC，123的学习，深入浅出，让孩子快乐的掌握知识，并逐步提高思维能力和创造能力。</p>
                    <p class="text-center"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=41" target="_blank">详情</a></p>
                </div>
                <div class="">
                    <p class="text-center bannerInfoImg"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200117/33cb9a71de6c2f40a1ba53f0df4e92ac.png" class="img-responsive"></p>
                    <h3>米菲的世界</h3>
                    <p>适合年龄：4+</p>
                    <p class="banner-detail">在《米菲的世界》里，小朋友可以帮米菲穿衣打扮，刷个牙或者洗个澡；可以带她到花园里游玩，和可爱的狗狗史娜菲玩丢球游戏；还可以让她放风筝。不仅如此，小朋友还可以帮助小兔米菲种植和采摘水果蔬菜，并用这些新鲜食材烘焙美味蛋糕，做完蛋糕后和妈妈一起分享。这款应用不设置对抗环节，没有输赢，让孩子在日常生活中发掘成长的乐趣！</p>
                    <p class="text-center"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=75" target="_blank">详情</a></p>
                </div>
                <div class="">
                    <p class="text-center bannerInfoImg"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200116/9be0165a9a806e65557e375b924a4844.png" class="img-responsive"></p>
                    <h3>迪士尼魔法涂色</h3>
                    <p>适合年龄：4+</p>
                    <p class="banner-detail">《迪士尼魔法涂色》应用在45个国家儿童榜单排名第一，教育榜单排名前十。海量迪士尼和皮克斯人物角色等你来填色。待完成你的涂鸦画画作品后， 可以把你的迪士尼人物放到3D互动场景它们“复活”过来哦 ！无尽乐趣之余，你知道绘画和填色还能促进大脑发育、记忆力和精细动作吗？丰富的颜色、神奇的魔术画笔及艺术涂鸦工具任你搭配，尽情释放你的创意和想象力，挥手创作吧！</p>
                    <p class="text-center"><a href="https://uoozone.sdcomm.cn/Home/Product/detail?id=100" target="_blank">详情</a></p>
                </div>
            </div>
            <span class="bannerBtn bannerBtnLeft"></span>
            <span class="bannerBtn bannerBtnRight"></span>
        </header>
        

        <main id="main">
            <section class="container">
                <ul class="row productLists">
                    <li class="col-md-6 col-xs-12 clearfix productItem">
                        <div class="productImg pull-left">
                            <a href="/Home/Product/detail?id=41" target="_blank">
                                <img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191015/5291ee947fb2354a8857dadae96fa73b.png" class="img-responsive">
                            </a>
                        </div>
                        <div class="productInfo pull-left">
                            <h4 class="ell"><a href="/Home/Product/detail?id=41" target="_blank">毛毛虫幼儿园</a></h4>
                            <p class="ell descr">儿童益智启蒙早教大全</p>
                            <a target="_blank" href="/Home/Product/detail?id=41" class="pull-right">详情</a>
                        </div>
                    </li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=75" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200117/9dd0ef267f66e5c1e1180324bc5d0b14.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=75" target="_blank">米菲的世界</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=75" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=69" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/aa0008c80b903b7e24f99997e7b00e8f.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=69" target="_blank">Uoo故事书小红帽</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=69" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=71" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/208693337644e055aca76d3e35f2af78.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=71" target="_blank">毛毛虫之探索与发现</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=71" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=74" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/e87867c92075c1cc4674aa8150e1d6b3.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=74" target="_blank">Uoo故事书长发公主</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=74" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=85" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/99f1f0d3c5d4aba24521314a84e63125.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=85" target="_blank">小皮大世界</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=85" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=87" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/67d4c93a205b0df6a6addd168f9833db.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=87" target="_blank">Uoo故事书糖果屋</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=87" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=89" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/fff57db2aa112d0124eedf0749d01164.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=89" target="_blank">好饿的毛毛虫</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=89" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=92" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/2d013886578d34b702f8539f5fa3be6e.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=92" target="_blank">Uoo故事书睡美人</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=92" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=94" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/92d4822acec547eb2c4c3f11d45b6ffd.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=94" target="_blank">毛毛虫AR</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=94" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=97" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20191016/0f758d6ce5fa33a7fb18a63d5d410534.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=97" target="_blank">毛毛虫之形状和颜色</a></h4><p class="ell descr"></p><a target="_blank" href="/Home/Product/detail?id=97" class="pull-right">详情</a></div></li>
                    <li class="col-md-6 col-xs-12 clearfix productItem"><div class="productImg pull-left"><a href="/Home/Product/detail?id=100" target="_blank"><img src="http://cn-uoozone-website-sd.oss-cn-beijing.aliyuncs.com/public/uploads/20200116/e34a08a9da88be3721202e8f81025fe2.png" class="img-responsive"></a></div><div class="productInfo pull-left"><h4 class="ell"><a href="/Home/Product/detail?id=100" target="_blank">迪士尼魔法涂色</a></h4><p class="ell descr">填色画画益智游戏</p><a target="_blank" href="/Home/Product/detail?id=100" class="pull-right">详情</a></div></li>
                </ul>
            </section>
        </main>
        
        <footer id="footer" class="text-center">
            <p><a target="_self" href="https://www.sgstudios.cn:13000/termsofservice">《隐私权政策》</a></p>
            <p>适龄提示 ： 2周岁以上儿童使用，需要未成年人家长监护</p>
            <p>网站首页网址 ：&nbsp;<a target="_self" href="http://www.sdcomm.cn/">http://www.sdcomm.cn</a>&nbsp; 联系方式 ： 010-64701980 / info@sgstudios.cn</p><p style="text-align: center;">沪网文（2018）10462—641号&nbsp; 网站备案许可号：沪ICP备19003040号-1&nbsp;&nbsp;</p><p style="text-align: center;">备案许可证号：沪ICP备19003040号&nbsp; 增值电信业务许可证编号：沪B2—20190071</p>
        </footer>

        <script type="text/javascript">
            var pcBannerSiper;
            var mobileBannerSiper;

            function banner(){
                var width = getWH().width;
                if(width <= 750){
                    if(mobileBannerSiper) return false;
                    mobileBannerSiper = new Swiper('#mobileBanner', {
                        pagination: {
                            el: '.swiper-pagination2',
                            clickable : true
                        },
                        loop : true,
                        autoplay: {
                            delay: 8000,
                            stopOnLastSlide: false,
                            disableOnInteraction: false,
                        },
                        on : {
                            init : function (){
                                if(this.slides.length - 2 == 1){
                                    // $('.bannerBtn').hide();
                                    $('.swiper-pagination2').hide();
                                }
                            },
                        }
                    });
                }else{
                    if(!!pcBannerSiper) return false;
                    pcBannerSiper = new Swiper('#pcBanner', {
                        pagination: {
                            el: '.swiper-pagination1',
                            clickable : true
                        },
                        loop : true,
                        autoplay: {
                            delay: 8000,
                            stopOnLastSlide: false,
                            disableOnInteraction: false,
                        },
                        on : {
                            init : function (){
                                if(this.slides.length - 2 == 1){
                                    $('.bannerBtn').hide();
                                    $('.swiper-pagination1').hide();
                                }
                            },
                            slideChangeTransitionEnd : function (){
                                $('.bannerInfo').children().hide().eq(this.realIndex).show();
                            }
                        }
                    });
                    $('.bannerBtn').on('click', function (){
                        var _that = $(this);
    
                        if(_that.is('.bannerBtnLeft')){
                            pcBannerSiper.slidePrev();
                        }else{
                            pcBannerSiper.slideNext();
                        }
                    });
                }
            }
        
            $(function (){
                banner();
                // 导航按钮
                $('.navBtn').on('click', function (){
                    var nav = $('#nav');
                    var _that = $(this);
                    if(_that.is('.active')){
                        nav.removeClass('active')
                        _that.removeClass('active')
                    }else{
                        nav.addClass('active')
                        _that.addClass('active')
                    }
                });
        
                resizeEvent(function (){
                    banner();
                })
            })
        </script>
    </body>
</html>